body {
  font-family: "Pretendard-Regular", sans-serif;
  background-color: #ffffff;
}
.container,
.card,
.alert,
.modal-content,
.dropdown-menu,
.list-group,
.navbar,
.footer {
  background-color: #ffffff !important;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Diphylleia-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-top: 40px;
}

.nav-header .nav-icon {
  margin-right: 20px;
}
.nav-icon span {
  margin-left: 10px;
}
.menu {
  display: flex;
  list-style-type: none;
  padding: 20px;
}
.menu li a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav-menu-area {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.burger-menu {
  margin-left: 20px;
}

.landing-search-box {
  right: 20px;
  position: absolute;
}
.sidebar {
  max-width: 500px;
}

.category-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.banner {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
  transition: background-image 1s ease-in-out; /* 이미지 전환 애니메이션 */
}

.banner-content {
  position: relative;
  z-index: 1;
}

.banner h1 {
  font-size: 2.5em;
  margin: 0;
}

.banner p {
  font-size: 1.2em;
  margin: 10px 0;
}

.banner-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* 배너에 살짝 투명한 오버레이 추가 */
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* 배너에 살짝 투명한 오버레이 추가 */
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.search-box {
  border-bottom: 1px solid black;
  /* position: absolute; */
  padding: 5px;
}
.search-box input {
  border: none;
  margin-left: 5px;
  background-color: #ffffff;
}
.search-box input:focus {
  outline: none;
}
.mobile-search-box {
  position: relative;
  top: 10px;
  left: 10px;
}
.search {
  align-items: center;
}
.search-icon {
  margin-left: 10px;
}
.search input {
  border: none;
  background-color: #ffffff;
  padding-left: 20px;
}
.search input:focus {
  outline: none;
}
.mobile-search-box .closebtn {
  font-size: 36px;
  border: none;
  background: none;
  padding-right: 30px;
}
.card {
  border: none !important;
  margin-bottom: 10px;
}

.choice {
  font-size: 11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.error-message {
  text-align: left;
  width: 100%;
}
.form-control:valid {
  background-color: white !important;
}

.drop-down {
  margin-top: 20px;
}

.add-button {
  margin-top: 20px;
  width: 100%;
}

.card {
  transition: opacity 0.2s ease-in-out;
}

.card:hover {
  opacity: 0.9;
  z-index: 1;
}
.hide {
  visibility: hidden;
}

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}

#sidebar-wrapper {
  min-height: 100vh !important;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* width: 100vw; */
  /* margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out; */
}
.sidebar-item {
  color: black;
  font-weight: bold;
  padding: 20px 10px;
  list-style-type: none;
}
.sidebar-item:hover {
  color: white;
  background-color: red;
  font-weight: bold;
}
.sidebar-area {
  padding-left: 0;
}
.sidebar {
  max-width: 300px;
  padding: 20px;
  background-color: rgb(248, 249, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 40px;
}
.mobile-sidebar-toggle {
  display: none;
}

@media screen and (max-width: 63rem) {
  .hide {
    visibility: visible;
  }
  .menu {
    display: none;
  }

  .nav-icon:last-child {
    margin-right: 0px;
  }
  .nav-header {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .sidebar-toggle {
    display: none;
  }
  .mobile-sidebar-toggle {
    display: block;
  }
  .sidebar {
    max-width: 100%;
    padding: 0px;
    /* margin-bottom: 0; */
  }
  .mobile-sidebar {
    max-height: 104px;
  }
}
.display-flex {
  display: flex;
  align-items: center;
}

.admin-layout {
  display: flex;
}

.landing-search-box input {
  background-color: #ffffff;
}

.link-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  color: #e5e2d3;
  border-width: 0.3em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.page-item {
  margin: 10px 5px;
}

.page-link {
  padding: 8px 12px;
  color: #9b9b9b;
  border: none !important;
  background-color: #ffffff !important;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.page-link:hover {
  background-color: #e0e0e0;
}

.active .page-link {
  color: black !important;
  border: none !important;
  font-weight: bold !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.page-link:focus {
  box-shadow: none !important;
}

.previous,
.next {
  margin: 0 10px;
}

.break-item {
  color: #999;
}

.card_name {
  color: gray;
}

.card_price {
  font-size: x-large;
  font-weight: bold;
}
.menu {
  font-size: medium;
  font-weight: 550;
  margin-top: 50px;
  margin-bottom: 10px;
}

.li_menu {
  margin: 10px;
}

.nav-title-text {
  font-family: "Diphylleia-Regular", sans-serif;
  font-size: xx-large;
  cursor: pointer;
  margin-left: 50px;
  font-weight: 600;
}

.main-slogan {
  font-family: "Diphylleia-Regular", sans-serif;
  font-size: x-large;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.search-box {
  margin-right: 50px;
  margin-top: 70px;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e2d3;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.message {
  position: absolute;
  width: 100vw;
  left: 70%;
  animation: move 4s ease-in-out infinite;
}

@keyframes move {
  0% {
    left: 100%;
  }
  20% {
    left: 44%;
  }
  80% {
    left: 44%;
  }
  100% {
    left: -100%;
  }
}

.line {
  border-top: 1px solid black;
  margin: 20px 0;
}

.loading {
  background-color: #ffffff;
}
